.button {
  max-width: 140px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  background-color: $dark;
  color: $light;
  padding: 12px 15px 10px 15px;
  border-radius: 5px;
  font-weight: 300;
  @include typo-size($second_font, map-get($font-sizes, xs));
  &-check {
    width: 18px;
    fill: white;
    @include keyframes(rotate) {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @include animate(rotate, 0.8s, linear, infinite);
  }
  @media (min-width: map-get($breakpoints, tablet)) {
    @include typo-size($second_font, map-get($font-sizes, s));
  }
}
.button:hover {
  outline: none;
  @include keyframes(hover) {
    0% {
      transform: scale(1);
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    100% {
      transform: scale(1.02);
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    }
  }
  @include animate(hover, 0.8s, infinite, alternate-reverse);
}

.button:disabled {
  background-color: $red;
  cursor: default;
}
