@import '../utils/variables';
@import '../utils/mixins';

.nav {
  padding: 0 10%;
  height: 15vh;
  width: 100%;
  display: flex;
  background-color: $light;
  color: $dark;
  @include typo-size($second_font, map-get($font-sizes, xxs));
  &-logo {
    display: none;
  }
  &-links {
    display: none;
  }
  &-burger {
    width: 30px;
    height: 20px;
    position: relative;
    top: 20px;
  }
  &-burger-links {
    list-style: none;
    position: relative;
    top: 15px;
    display: block;
    width: 150px;
    &-link {
      padding: 5px;
      border: 2px solid black;
    }
    &-link:hover {
      background-color: $dark;
      color: $light;
    }
  }
}
