.profile {
  padding: 100px 10%;
  background-color: $light;
  color: $dark;
  &-name {
    font-weight: 100;
    width: 300px;
    @include typo-size($main_font, map-get($font-sizes, xl));
  }
  &-intro {
    padding-top: 20px;
    line-height: 1.1;
    font-weight: 300;
    @include typo-size($second_font, map-get($font-sizes, xs));
  }
}
