@mixin box-shadow($x, $y, $blurr) {
  box-shadow: $x $y $blurr darken($bgd-gray, 20%);
}

@mixin typo-size($typo, $size) {
  font-family: $typo;
  font-size: $size;
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin gradient() {
  background-color: $light;
  background-image: -webkit-linear-gradient(
    350deg,
    rgba(232, 95, 92, 1) 0%,
    rgba(10, 10, 10, 1) 74%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@for $i from 1 through 10 {
  .skillsbox-#{$i} {
    animation-delay: 0.2 * $i;
  }
}

@keyframes showUpAnimation {
  0% {
    opacity: 0;
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform-origin: bottom;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
    transform-origin: top;
  }
  100% {
    opacity: 0;
    transform-origin: bottom;
  }
}
