$light: #fffcf2;
$dark: #252422;

$main_font: 'Cinzel', serif;
$second_font: 'Josefin Sans', sans-serif;
$third_font: 'Oswald', sans-serif;

$breakpoints: (
  tablet: 769px,
  desktop: 1023px,
);

$font-sizes: (
  xxxl: 7em,
  xxl: 5em,
  xl: 3.5em,
  l: 2.1em,
  sl: 2em,
  s: 1.8em,
  xs: 1.2em,
  xxs: 1em,
);
